.routeDiv {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.switch-wrapper {
    position: absolute;
    left: 200px;
    display: flex;
    width: auto;
    justify-content: center;
}

/* .switch-wrapper a {
    font-size: 24px;
        font-weight: 600;
        color: #2d2d2d;
        margin-bottom: 10px;
        margin-top: 10px;
} */

.switch-wrapper h2 {
    font-size: 24px;
        font-weight: 600;
        color: #2d2d2d;
        margin-bottom: 10px;
        margin-top: 10px;
}

.switch-wrapper h3 {
    font-size: 20px;
        font-weight: 600;
        color: #2d2d2d;
        margin-bottom: 10px;
        margin-top: 10px;
}

.switch-wrapper h5 {
    font-size: 14px;
        font-weight: 400;
        color: #2d2d2d;
        margin-bottom: 10px;
        margin-top: 10px;
}

.account-nav {
    position: absolute;
    margin: 40px 0px 0px 65px;
    top: 185px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px lightgray solid;
    border-bottom: 0px;
    height: fit-content;
    min-width: 105px;
}

.account-nav-buttons {
    padding: 10px;
    border-bottom: 1px lightgray solid;
}

.account-nav-buttons:hover {
    background-color: rgb(231, 231, 231);
}

.account-nav .active {
    background-color: rgb(231, 231, 231);
    font-weight: bold;
}
