.wrapper-for-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20%;
    min-width: fit-content;
    /* border: black solid 3px; */
}

.bb {
    border-bottom: 1px solid lightgray;
}

.pb {
    padding-bottom: 2em;
}

.header {
    padding-top: 20px;
    width: 100%;
}

.spot-header {
    margin: 0px;
}


.imageFormButton {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1em;
    min-width: 17em;
    align-items: center;
}

.cur {
    cursor: pointer;
}

#modalButtonImage {
    border: 1px solid red;
}


.share {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.ratings {
    display: flex;
    align-items: center;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3em;
}
.details-wrapper {
    border: 1px solid red;
}

.houseInfo {
    width: 50%;
    padding-right: 5%;
}

.host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.reserve-form {
    width: 100%;
}

.spacing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding-top: 15px;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: minmax(10em, 1fr) minmax(10em, 1fr);
    gap: 10px;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.grid_item {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.first_grid_item {
    border-radius: 10px 0px 0px 10px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: inherit;
    height: inherit;
}

.border_2 {
    border-radius: 0px 10px 0px 0px;
}

.border_4 {
   border-radius: 0px 0px 10px 0px;
}

.spot-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.create-review-button {
    margin-top: 1rem;
    background: linear-gradient(90deg,#e61e4d 0,#e31c5f 50%,#d70466);
    height: 2rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bolder;
    box-sizing: border-box;
}
