@media only screen and (max-width: 1450px) {
    .spot-image:last-child{
        display: none;
    }
}

@media only screen and (max-width: 1450px) {
    .spot-image {
        border-radius: 0px 15px 15px 0px;
    }
}

@media only screen and (max-width: 1100px) {
    .spot-image {
        display: none;
    }
}

.wrapper-for-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 275px 0px 375px;
}

.header {
    padding-top: 20px;
    width: 28rem;
}

.spot-header {
    font-size: 24px;
        font-weight: 600;
        color: #2d2d2d;
        margin-top: 10px;
}

.sub-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.width-for-info {
    width: 25rem;
}

.gap-for-reserve {
    gap: 1rem;
}

.share {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.ratings {
    display: flex;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: row;
}

.host {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    width: 1200px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgb(192, 192, 192);

}

.host h3 {
    font-size: 20px;
        font-weight: 600;
        color: #2d2d2d;
}

.reserve-form {
    display: flex;
    justify-content: right;
    width: 100%;
}

.form-container {
    position: absolute;
    left: 900px;
    top: 140px;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 60px;
    border: .5px solid gray;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px gray;
}

.spacing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding-top: 15px;
}

.image-container {
    display: flex;
    gap: 5px;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.first-spot-image {
    border-radius: 15px 0px 0px 15px;
    width: 350px;
    height: 450px;
    object-fit: cover;
}

.spot-image {
    width: 350px;
    height: 450px;
    object-fit: cover;
}

.spot-image:last-child {
    border-radius: 0px 15px 15px 0px;
}

.create-review-button {
    margin-top: 1rem;
    background: linear-gradient(90deg,#e61e4d 0,#e31c5f 50%,#d70466);
    height: 2rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bolder;
    box-sizing: border-box;
}

.ratings:nth-child(1)  {
    font-size: 14px;
    font-weight: 600;
    color: #2d2d2d;
}

h4 {
    font-size: 14px;
    font-weight: 600;
    color: #2d2d2d;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: #2d2d2d;
    padding-left: 6px;
}

.delete-review-button {
    position: absolute;
    left: 800px;
}
