.wrapper-for-info {
    padding: 0 12%;
    margin: 0px 50px 0px 50px;
}

.header {
    margin-top: 50px;
}

.header h2 {
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin-bottom: -15px;
}

.ratings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: -15px;
}

.ratings span {
    margin: 20px 0px;
}

.ratings span {
    color: black;
    font-size: 14px;
}

.image-container {
    display: grid;
    grid-gap: 10px;
    min-height: 350px;
    grid-template-areas:
        "first second third"
        "first fourt fifth";
    grid-template-columns: 50% 25% 25%;
    margin: 20px 0px 20px 0px;
}

.image-container img {
    width: 100%;
    display: block;
}

.image-container > img:first-child {
    grid-area: first;
}

.spot-image {
    width: 100%;
    height: 100%;
}

.first-spot-image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.spot-image:nth-child(3) {
    border-top-right-radius: 15px;
}

.spot-image:last-child {
    border-bottom-right-radius: 15px;
}

.reserve-form div {
    text-align: right;
    font-size: 20px;
    font-weight: 300;
    margin-top: -53px;
    margin-bottom: 20px;
}

.details h3 {
    margin-left: -5px;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

h4 {
    margin-left: -5px;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.create-review-button {
    margin-top: 1rem;
    background: linear-gradient(90deg,#e61e4d 0,#e31c5f 50%,#d70466);
    height: 2rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bolder;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.delete-review-button {
    position: absolute;
    left: 747px;
}
