.deleteImages {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}

.deleteImagesContainer{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.imageLabels {
    width: fit-content;
}

.imageSelect {
    width: 7em;
    height: 5em;
    border-radius: 5px;
}
/* 
.radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
} */
