.errors {
    display: flex;
    flex-direction: column;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review-form button {
    width: 90%;
    padding: 0px;
}

.review-form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 0px;
}

.review-form button {
    margin-bottom: 5px;
    margin-top: -5px;
}
