.singleReviewContainer {
    padding: 1em 0em;
}

.delete-review-button {
    /* margin-top: 1rem; */
    background: linear-gradient(90deg,#e61e4d 0,#e31c5f 50%,#d70466);
    height: 2rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bolder;
    box-sizing: border-box;
    width: 7rem;
}

.imagesModalButton {
    text-decoration: underline;
    padding-left: 0px;
}
