@media only screen and (max-width: 650px) {
    img.filter-icon4, h4{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    img.filter-icon3, h3{
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    img.filter-icon2, h2{
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    img.filter-icon1, h1{
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    img.filter-icon5, h5{
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    img.filter-icon6, h6{
        display: none;
    }
}



.nav-bar-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    border-bottom: solid .5px #c8c8c8;
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: white;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 80px;
    background-color: white;
}

.spot-id-padding {
    padding: 0px 160px;
}

.profile-dropdown {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 16px rgb(0 0 0 / 12%);
    margin-top: 34px;
    max-height: calc(100vh - 100px);
    min-width: 240px;
    overflow-y: auto;
    padding: 8px 0;
    position: absolute;
    right: 80px;
    top: 50%;
    top: 40px;
}


.home-link {
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight:500;
    color: rgb(255, 90, 96);
    font-size: 40px;
    font-family: Snell Roundhand, cursive;
}

.home-link-img {
    width: 40px;
    height: 40px;
}
