.hidden {
    display: none;
}

.profile-button {
    color: rgb(90, 90, 90)
}


.profile-menu-button {
    font-size: 15px;
    padding-right: 5px;
}

.profile-button {
    border: 1px solid #dddddd;
    background-color: white;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85px;
    height: 45px;
    padding: 5px 0px 5px 15px;
    font-size: 30px;
}

.profile-button:hover {
    transition: box-shadow 0.7s;
    box-shadow: 0px 2px 5px rgb(165, 164, 164);
}

.account-buttons {
    display: flex;
    flex-direction: column;
}

.account-buttons ul, li {
    padding: 15px;
}

.profile-actions {
    display: flex;
    text-decoration: underline;
    padding-left: 15px;
    height: 50px;
    align-items: center;
    border: none;
    background-color: white;
    font-size: 16px;
}

.account-buttons li:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.profile-actions:hover {
    background-color: rgb(231, 231, 231);
}
